@charset "UTF-8";

/*------------------------------------------------------------------------------BASIS---*/
body{margin:0;padding:0;color:#000;border:none}
#content{padding:0 1em;margin:2em auto;max-width:960px}
.nowrap_float_l{white-space:nowrap;float:left;margin:0 .5em .5em 0}
.touch{padding:1em;margin:1em 0}
.touch:hover{background:#eee}
.container{background-color:#fff;padding:1em;border:1px solid #bbb;margin-bottom:2em}
.notific_r,.notific_g,.notific_y,.notific_b{display:block;padding:0 0 0 2em;margin:0 0 .3em 0;background-color:#fff!important;}
.notific_g:before,.notific_r:before,.notific_y:before,.notific_b:before{display:none;}
.notific_g:after,.notific_r:after,.notific_y:after,.notific_b:after{left:0;}
.notific_r:after{color:#FF3636;}
.notific_g:after{color:#6ca200;}
.notific_y:after{color:#e5ca00;}
.notific_b:after{color:#0E7AA9;}
#copy{text-align:center}

/*------------------------------------------------------------------------------FORM---*/
*:focus{outline:none}
form label{display:inline-block;width:17em}
input[type="text"],input[type="password"],input[type="file"],input[type="tel"],input[type="email"],input[type="url"],textarea{border:#000 solid 1px;padding:.3em;margin:.1em 0;border-radius:3px;font-size:103%}
input[type="button"],input[type="submit"],input[type="reset"],button,.btn{padding:.7em;text-align:center;text-decoration:none;white-space:nowrap;font-size:105%;font-weight:700;color:#fff;border:1px solid #2771ec;border-radius:5px;outline:0 none #fff;background-color:#4d90fe;background:-moz-linear-gradient(top,#4d90fe,#4584ec);background:-webkit-linear-gradient(top,#4d90fe,#4584ec);background:linear-gradient(to bottom,#4d90fe,#4584ec);cursor:pointer;box-shadow:none}
input[type="button"],input[type="submit"],input[type="reset"],button{*width:auto;*overflow:visible}
input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover,button:hover,.btn:hover{box-shadow:inset 0 3px 10px rgba(255,255,255,0.2);color:#fff;border-color:rgba(0,0,0,0.4)}

/*------------------------------------------------------------------------------TYPOGRAPHY & LINKS---*/
h1,h2,h3,h4,h5{color:#000;font-family:Georgia,Helvetica,Arial}