@charset "UTF-8";

/**
 * Стили инсталлятора системы
 *
 * @author Sergey Nizhnik <kroloburet@gmail.com>
 */

/*------------------------------------------------------------------------------BASIS---*/
#content {
    padding: 0 1%;
    margin: 2em auto;
    max-width: 900px;
}

.touch {
    padding: 1em;
}

.touch:hover {
    background: rgba(0, 0, 0, .1);
}

.container {
    background-color: var(--color-base-bg);
    padding: 1em;
    border: 1px solid var(--color-gray);
    margin-bottom: 2em;
}

.TUI_notice-error, .TUI_notice-success, .TUI_notice-warning, .TUI_notice-info {
    display: block;
    padding: 0 0 0 2em;
    margin: 0 0 .3em 0;
    background-color: var(--color-base-bg) !important;
}

.TUI_notice-success::before, .TUI_notice-error::before, .TUI_notice-warning::before, .TUI_notice-info::before {
    display: none;
}

.TUI_notice-success::after, .TUI_notice-error::after, .TUI_notice-warning::after, .TUI_notice-info::after {
    left: 0;
}

.TUI_notice-error::after {
    color: var(--color-red);
}

.TUI_notice-success::after {
    color: var(--color-green);
}

.TUI_notice-warning::after {
    color: var(--color-yellow);
}

.TUI_notice-info::after {
    color: var(--color-blue);
}

#copy {
    text-align: center;
}

/*------------------------------------------------------------------------------FORM---*/
.instal_form label {
    position: initial;
    display: flex;
    align-items: center;
}

.instal_form label :first-child {
    min-width: 17em;
}

.instal_form label input {
    max-width: 32em;
}

/*------------------------------------------------------------------------------MEDIA---*/
@media (max-width: 600px) {
    .instal_form label {
        flex-wrap: wrap;
    }

    .instal_form label input {
        max-width: 90%;
    }

    .container {
        padding: 0;
        border: none;
    }
}
