@charset "UTF-8";

/**
 * Стили инсталлятора системы
 *
 * @author Sergey Nizhnik <kroloburet@gmail.com>
 */

/*------------------------------------------------------------------------------BASIS---*/
#content{padding:0 1%;margin:2em auto;max-width:900px;}
.touch{padding:1em;}
.touch:hover{background:rgba(0,0,0,.1);}
.container{background-color:var(--color-base-bg);padding:1em;border:1px solid var(--color-gray);margin-bottom:2em;}
.notific_r,.notific_g,.notific_y,.notific_b{display:block;padding:0 0 0 2em;margin:0 0 .3em 0;background-color:var(--color-base-bg)!important;}
.notific_g:before,.notific_r:before,.notific_y:before,.notific_b:before{display:none;}
.notific_g:after,.notific_r:after,.notific_y:after,.notific_b:after{left:0;}
.notific_r:after{color:var(--color-red);}
.notific_g:after{color:var(--color-green);}
.notific_y:after{color:var(--color-yellow);}
.notific_b:after{color:var(--color-blue);}
#copy{text-align:center;}

/*------------------------------------------------------------------------------FORM---*/
.instal_form label{position:initial;display:flex;align-items:center;}
.instal_form label div{min-width:17em;}
.instal_form label input{max-width:32em;}

/*------------------------------------------------------------------------------MEDIA---*/
@media(max-width:600px){.instal_form label{flex-wrap:wrap;}.instal_form label input{max-width:90%;}.container{padding:0;border:none;}}
