@charset "UTF-8";

/**
 * Основные стили шаблона административной части
 *
 * @author Sergey Nizhnik <kroloburet@gmail.com>
 */

/**
 * Секция переопределения стилей TUI
 *
 * Помимо основных стилей шаблона используются
 * стили TUI (/TUI/TUI.css) в которых
 * определены правила для интерфейса пользователя,
 * цветовая схема, шрифт и прочее.
 * Если вы хотите переопределить какие-то из этих
 * правил, например, цветовую схему, переопределите
 * их в этой секции.
 */
.TUI_Menu {
    margin: 0 auto;
    max-width: 1200px;
}

/**
 * Секция основных стилей шаблона
 */

/*---------------------------------------------- Basic ---*/
html {
    max-width: 2500px;
}

body {
    max-width: 1200px;
    background: url(/img/bg.svg) no-repeat center center fixed;
    background-size: cover;
}

.user_nav {
    margin-left: auto !important;
}

.user_nav ul {
    right: 0;
}

.user_nav ul ul {
    left: auto;
    right: 100%;
}

.float_l {
    display: inline;
}

.touch {
    padding: 1em;
    background-color: var(--color-base-bg);
}

.touch:hover {
    background-color: var(--color-active-bg);
}

.sheath {
    background-color: var(--color-base-bg);
    padding: 1em;
    border: 1px solid var(--color-gray);
    margin-bottom: 1.5em;
}

#copy {
    text-align: center;
    margin: 2em auto;
}

#more_basic_opt {
    border-top: 1px solid #fff;
    margin-top: .5em;
    padding-top: .5em;
}

#notific_work_info {
    margin: 1.5em 0 0 0;
}

#work_info, #env_info {
    margin-top: 1.5em;
}

#work_info hr, #env_info hr {
    border-bottom: 1px solid rgba(255, 255, 255, .7);
}

.new_comment_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.this_form_control {
    margin-top: 10px;
}

/*---------------------------------------------- Table ---*/
.TUI_table td {
    border-color: var(--color-gray);
}

/*---------------------------------------------- Preview items --*/
.prev_item {
    display: flex;
    margin-top: .5em;
    justify-content: space-between;
    border: var(--color-form-border) solid 1px;
    border-radius: var(--radius-border);
    background: center no-repeat var(--color-form-field-bg);
    background-size: cover;
    overflow: auto;
    font: 100%/1.5em var(--font-base);
}

.prev_item_content {
    flex-grow: 1;
    align-self: center;
    padding: .3em;
}

.prev_item_control {
    display: flex;
    align-items: center;
    padding: .5em;
    color: var(--color-font-btn);
    background-color: var(--color-form);
    border-left: 1px solid var(--color-form-border);
    cursor: pointer;
}

.prev_item_control:hover {
    filter: brightness(90%);
}

/*---------------------------------------------- Pagination --*/
.pagination {
    margin: 0 0 1.5em 0;
}

.pagination ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.pagination li {
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid var(--color-form-border);
    border-left-width: 0;
    background-color: var(--color-base-bg);
}

.pagination a, .pagination span {
    display: block;
    padding: .5em 1em;
    text-decoration: none;
}

.pagination .pag_active span {
    color: var(--color-font);
    background-color: var(--color-active-bg);
    cursor: default;
}

.pagination li:first-child {
    border-left-width: 1px;
    border-radius: var(--radius-border) 0 0 var(--radius-border);
}

.pagination li:last-child {
    border-radius: 0 var(--radius-border) var(--radius-border) 0;
}
